{
  "realm": "${PROJECT_NAME}",
  "enabled": true,
  "displayName": "${PROJECT_NAME}",
  "sslRequired": "external",
  "registrationAllowed": false,
  "loginWithEmailAllowed": true,
  "duplicateEmailsAllowed": false,
  "resetPasswordAllowed": true,
  "editUsernameAllowed": false,
  "bruteForceProtected": true,
  "permanentLockout": false,
  "maxFailureWaitSeconds": 900,
  "minimumQuickLoginWaitSeconds": 60,
  "waitIncrementSeconds": 60,
  "quickLoginCheckMilliSeconds": 1000,
  "maxDeltaTimeSeconds": 43200,
  "failureFactor": 5,
  "passwordPolicy": "length(10) and upperCase(1) and lowerCase(1) and digits(1) and specialChars(1) and notUsername(undefined)",
  "smtpServer": {
    "host": "${KEYCLOAK_SMTP_HOST}",
    "port": "${KEYCLOAK_SMTP_PORT}",
    "from": "${KEYCLOAK_SMTP_FROM}",
    "auth": "true",
    "user": "${KEYCLOAK_SMTP_USER}",
    "password": "${KEYCLOAK_SMTP_PASSWORD}",
    "starttls": "true",
    "ssl": "false"
  },
  "accessTokenLifespan": 300,
  "ssoSessionIdleTimeout": 1800,
  "ssoSessionMaxLifespan": 36000,
  "roles": {
    "realm": [
      {
        "name": "realm-admin",
        "description": "Realm administrator role"
      },
      {
        "name": "user",
        "description": "Default user role"
      }
    ]
  },
  "defaultRoles": ["user"],
  "clients": [
    {
      "clientId": "${PROJECT_NAME}-frontend",
      "enabled": true,
      "publicClient": true,
      "protocol": "openid-connect",
      "standardFlowEnabled": true,
      "implicitFlowEnabled": false,
      "directAccessGrantsEnabled": false,
      "serviceAccountsEnabled": false,
      "redirectUris": ["${FRONTEND_URL}/*"],
      "webOrigins": ["${FRONTEND_URL}"]
    },
    {
      "clientId": "${PROJECT_NAME}-client",
      "enabled": true,
      "clientAuthenticatorType": "client-secret",
      "secret": "${ARCHCORE_CLIENT_SECRET}",
      "publicClient": false,
      "directAccessGrantsEnabled": true,
      "serviceAccountsEnabled": true,
      "redirectUris": [],
      "webOrigins": [],
      "protocol": "openid-connect",
      "standardFlowEnabled": true,
      "implicitFlowEnabled": false
    }
  ],
  "identityProviders": [
    {
      "alias": "google",
      "providerId": "google",
      "enabled": true,
      "trustEmail": true,
      "storeToken": false,
      "config": {
        "clientId": "${KEYCLOAK_GOOGLE_CLIENTID}",
        "clientSecret": "${KEYCLOAK_GOOGLE_CLIENTSECRET}",
        "defaultScope": "openid email profile",
        "syncMode": "IMPORT"
      }
    }
  ],
  "identityProviderMappers": [
    {
      "identityProviderAlias": "google",
      "name": "email",
      "identityProviderMapper": "hardcoded-user-attribute-idp-mapper",
      "config": {
        "attribute.name": "email",
        "user.attribute": "email",
        "syncMode": "INHERIT"
      }
    },
    {
      "identityProviderAlias": "google",
      "name": "first-name",
      "identityProviderMapper": "hardcoded-user-attribute-idp-mapper",
      "config": {
        "attribute.name": "firstName",
        "user.attribute": "firstName",
        "syncMode": "INHERIT"
      }
    },
    {
      "identityProviderAlias": "google",
      "name": "last-name",
      "identityProviderMapper": "hardcoded-user-attribute-idp-mapper",
      "config": {
        "attribute.name": "lastName",
        "user.attribute": "lastName",
        "syncMode": "INHERIT"
      }
    }
  ],
  "users": []
}
